%header.main-header.tag-head{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: blog_settings.name
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu
  .vertical
    .main-header-content.inner
      %h1.page-title= "Recipe Links"
      %h2.page-description= "Links to various recipes we like."

%main#content.content{role: :main}

:erb
  <main class='content' role='main'>
  <article class='post'>
  <a href="http://www.seriouseats.com/recipes/2012/02/spicy-peanut-noodle-salad-with-cucumbers-red-peppers-recipe.html">Spicy Peanut Noodle Salad</a></br>
