%header.main-header.tag-head{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: blog_settings.name
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu
  .vertical
    .main-header-content.inner
      %h1.page-title= "Recipe Tags"
      %h2.page-description= "Useful for searching for recipes by tags."

%main#content.content{role: :main}

:erb
  <main class='content' role='main'>
  <article class='post'>
  <% blog.tags.sort.each do |tag, articles| %>
    &emsp; <%= link_to tag, tag_path(tag) %> (<%= articles.size %>)<br />
  <% end %>

